// Place all the styles related to the admin/Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.preview_image_container {
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
    border: 1px solid #5E5E5E;
}

.preview_image_container img {
    width: 100px;
    height: 100px;
}