/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require jdnav
 *= require icheck
 *= require image_slider
 *= require magiczoomplus
 *= require reveal
 *= require_self
 */

html,body {
    height: 100%;
}


.notify{
 text-align: center;
 background-color: #FFFFFF;
 margin: 0 auto;
 padding: 3%;
}

.inline {
    display: inline-block;
}


.red_color {
    color: #ff0000;
}


.normal_border {
    padding: 2%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 2%; 
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}


.time_style {
    color: #808080;
}


.explanation {
    color: #5E5E5E;
}



.omniauth_container{
    border: 1px;
    border-radius: 5%;
    background-color: #DBDBDB;
    padding: 2%;
    width: 90%;
    height: 30%;
    margin: 10px;
}

.footer_omniauth{
    margin-top: 10px;
}

#wrapper {
    min-height: 100%;
    position: relative;
    background-color: #E5E5E5;
}

#header {
    margin-bottom: 60px;
}

.nav-style{
    background-color: #FFFFFF;
}



#content {
    padding-bottom: 100px;

}

#footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    background-color: #FFFFFF;
}

/* admin */
.side-style{
    height: 100%;
    width: 15%;
    background-color: #D1EEEE;
    position: fixed;
    top: 60;
    left: 0;
    padding-bottom: 100px;
}

.admin_content{
    margin-left: 15%;
}


.collapse_style{
    background-color: #E5E5E5;
}